.button-wrapper {
  background: #39cdcc;
  border-radius: 8px;
  width: 100%;
  max-width: 27.9375rem;
  padding: 0.875rem 0;
  border: none;
  color: #FFFFFF;
  font-family: 'Avenir Next Cyr', sans-serif;
  cursor: pointer;
}
