.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  .search_container {
    display: none;
  }
  .navbar-left {
    display: flex;
    align-items: center;
    .burger-wrapper {
      background-color: transparent;
      border: none;
      margin-right: 1rem;
    }

    .logo {
      cursor: pointer;
      margin-right: 1.25rem;
    }
  }
  .navbar-right {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    .mobile-only {
      margin-left: 1rem;
      display: none;
    }
    .docs {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-right: 3.135rem;
      text-decoration-line: underline;
      color: #213f7d;
      padding-bottom: 0.625rem;
      cursor: pointer;
      display: none;
    }
    .notification {
      padding-bottom: 0.625rem;
      display: flex;
      align-items: center;
      margin-right: 4.73458%;
    }
    .person-details {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .bell {
      cursor: pointer;
    }
    .profile {
      display: flex;
      align-items: center;
      .username {
        font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #213f7d;
      }
      .arrow-down {
        margin-left: 0.625rem;
      }
    }
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 850px) {
    position: relative;
    .navbar-left {
      width: 75%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .search_container {
        display: block;
        width: 56.101%;
        min-width: 350px;
      }
      .burger-wrapper {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    padding: 1.25rem 1.875rem;
    justify-content: space-between;
    .navbar-left {
      width: 51.6667%;
      .search_container {
        display: block;
        width: 56.101%;
        min-width: 400px;
      }
      .logo {
        margin-bottom: 0;
      }
    }
    .navbar-right {
      display: flex;
      background-color: transparent;
      position: relative;
      flex-direction: row;
      align-items: center;
      padding: 0;
      height: max-content;
      flex: 1;
      justify-content: flex-end;
      .docs,
      .notification {
        padding-bottom: 0;
      }
      .profile {
        margin-left: 0.625rem;
      }
      .mobile-only {
        display: none;
      }
    }
  }
   
}
