.search-wrapper {
  border: 1px solid rgba(84, 95, 125, 0.15);
  border-radius: 8px;
  height: 2.5rem;
  width: 25rem;
  display: flex;
  ::-webkit-datetime-edit-text,
  input[type="date"]:in-range::-webkit-datetime-edit-year-field,
  input[type="date"]:in-range::-webkit-datetime-edit-month-field,
  input[type="date"]:in-range::-webkit-datetime-edit-day-field {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: black;
    cursor: pointer;
  }
  input[type="date"] {
    ::before {
      content: "Date";
    }
  }
  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0.75rem;
    flex: 1;
    cursor: pointer;
    
    ::placeholder {
      color: #545f7d;
    }

    &::-webkit-calendar-picker-indicator {
      color: transparent;
      cursor: pointer;
    }

    :focus::-webkit-datetime-edit {
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #545f7d;
    }
  }
  button {
    border-radius: 0 8px 8px 0;
    height: 100%;
    background: #39cdcc;
    width: 3.5rem;
    border: none;
    padding: auto;
    cursor: pointer;
  }
}
