*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  //  font-family: 'Avenir Next LT Pro', sans-serif;
  //  font-family: 'Avenir Next Cyr Medium', sans-serif;
  font-family: "Fira Sans", sans-serif;
  .auth-routes {
    display: flex;
    background-color: #fbfbfb;
    width: 100%;
    .route-wrapper {
      background-color: #fbfbfb;
      padding: 8.25rem 2.1739% 3.75rem 2.1739%;
      width: 100%;
      @media screen and (min-width: 850px) {
        padding: 3.75rem 2.1739%;
        width: calc(100% - 17.6875rem);
      }
      @media screen and (min-width: 1200px) {
        width: calc(100% - 17.6875rem);
      }
    }
  }
}
